@model IEnumerable<Diplom.Models.OrderBuh>

@{
    ViewData["Title"] = "Index";
}

<h1>Заказы на бухгалтерские услуги </h1>

<p>
    <a asp-action="Create">Создать заявку</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PRICE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RECEIVING_ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.test)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cake.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RECEIVING_ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.test)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
